{#<style>#}
{#    table {#}
{#        float: left;#}
{#        margin: 10px;#}
{#    }#}
{#    tr:nth-child(even) {#}
{#        background-color: #f2f2f2;#}
{#    }#}
{#    p {#}
{#        margin: 10px;#}
{#        clear: both;#}
{#    }#}
{#</style>#}
{##}
{#{% if error %}#}
{##}
{#  <p>{{ error }}</p>#}
{##}
{#{% else %}#}
{##}
{#  {% for item in data %}#}
{#    <table>#}
{#        <tbody>#}
{#            <tr><th>Property</th><th>Value</th></tr>#}
{##}
{#            {% for key, value in item.items %}#}
{#                <tr><td>{{ key }}:</td><td>{{ value }}</td></tr>#}
{#            {% endfor %}#}
{##}
{#        </tbody>#}
{#    </table>#}
{#  {% endfor %}#}
{##}
{#{% endif %}#}
{##}
{#<p><a href={% url 'index' %}>back</a></p>#}
